body{
    background-color: lightblue;
}
h1{
    text-align: center;
}
#contact_info{
    float: right;
    background-color: black;
    color: green;

}

.mother_table{
    padding: 20px;
    max-width: 25%;
   
}
.subject>a, .index>a{
    color: red; 
}
.index{/*Not Working*/
    list-style-image: url("HTML_Portfolio\PICS\List_Marker.png");

} 
table,th,td{
    border-style: solid;
    padding:10px;
    border-color: blue;
    border-collapse: collapse;
}
th{
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}
td{text-align: right;}

td:hover{
    color:red;
}
#Receivers{
    background: linear-gradient(red,blue);
    back
    
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   